attrs==21.2.0
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
click==8.1.2
coverage==5.5
cryptography==36.0.2
distlib==0.3.4
filelock==3.6.0
Flask==2.1.1
gunicorn==20.1.0
idna==3.3
importlib-metadata==4.11.3
iniconfig==1.1.1
itsdangerous==2.1.2
Jinja2==3.1.1
MarkupSafe==2.1.1
packaging==20.9
platformdirs==2.5.1
pluggy==0.13.1
py==1.10.0
pycparser==2.21
pyparsing==2.4.7
pytest==6.2.4
requests==2.27.1
six==1.16.0
toml==0.10.2
urllib3==1.26.9
virtualenv==20.13.2
Werkzeug==2.1.1
zipp==3.8.0
